<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="..\resources\css\style.css" rel="stylesheet">
    <title>Resume</title>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/18bdd3639f.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navbar, don't touch. -->
    <nav class="navbar navbar-expand-lg custom-navbar-color" style="height: 60px">
        <div class="navbar-helper">
            <a class="navbar-brand text-white">Drake Jones</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="hobbies.html">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="projects.html">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="resume.html">Resume</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid" style="justify-content:flex-end;">
            <img src="..\resources\img\deltarune.png" style="max-width: 5%; height: auto;" />
        </div>
    </nav>

    <!-- Content, do touch. -->
    <div class="container" style="background-color: white;">
        <div class="container" style="flex-direction: column; max-width: 100%;">
            <a href="..\resources/Drake Jones - Resume.pdf" target="_blank" download="Drake Jones - Resume.pdf" style="padding-top: 15px; padding-left: 10px;">
                <button><i>Download Resume (.pdf)</i></button>
            </a>
            <h1 style="padding-top: 15px; padding-left: 10px;"><b>Drake Jones</b></h1>
            <p>
                Wheat Ridge, Colorado<br />
                <a href="mailto:drake.charles.jones@gmail.com">drake.charles.jones@gmail.com</a><br />
                720-933-4223<br />
            </p>
            <h2 style="padding-left: 10px;"><b>Experience</b></h2>
            <p>
                <b>Chipotle Mexican Grill</b><br />
                <i>12550 W 64th Ave, Arvada, CO 80004</i><br />
                February, 2024 to August, 2024<br /><br />

                <b>Customer Service</b><br />
                Worked as a front-of-house crew member who interacted with customers on a near constant basis.<br /><br />

                <b>Food Safety Experience</b><br />
                Trained in compliance with Chipotle's strict food safety standards and prioritizes both personal hygiene and food safety.<br /><br />

                <b>Point of Sale System Experience</b><br />
                Trained in usage of Chipotle's point-of-sale system.<br /><br />

                <b>Computer Literacy</b><br />
                Taught from a young age to have extensive knowledge of computer systems, software and hardware. Sophomore year student majoring in Computer Science with an emphasis in Software Engineering.
            </p>
            <h2 style="padding-left: 10px;"><b>Education</b></h2>
            <p>
                <i>Arvada West High School, class of 2024</i><br />
                Graduated May 16, 2024<br /><br />

                Student of University of Colorado Boulder in the Program for Exploratory Studies as of August, 2025<br />
                Majoring in Computer Science<br />
                3.2 GPA<br /><br />

                Arvada West Vocal Ensemble Select (Vocal Showcase), 2021-2024<br />
                Arvada West Varsity Men’s Choir, 2020-2024<br />
                Arvada West High School Choir Leadership, 2022-2024<br /><br />

                Given College Board's AP Scholar & AP Scholar with Honor awards
            </p>
        </div>
    </div>

    <!-- Footer, don't touch. -->
    <div id="footer">
        <p style="font-size: 40px;">
            <a href="https://steamcommunity.com/id/drakazure/" target="_blank">
                <i class="fa-brands fa-steam"></i>
            </a>
            <a href="https://www.instagram.com/drakazure/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://open.spotify.com/user/nnkb59zunsgrugv9y2qnwixpg?si=687ff71664c4491f" target="_blank">
                <i class="fa-brands fa-spotify"></i>
            </a>
        </p>
    </div>
</body>

</html>